.sizeContent{
    margin: 2rem 0;
    .sizeContentButton{
        margin: 0.7rem 0;
        *:not(:last-child){
            margin-right: 0.8rem;
        }
        button{
            min-width: 2.3rem;
            height: 1.7rem;
            border-radius: 99px;
            padding: 0 0.7rem;
            
        }
    }
}