.container{
    display: grid;
    grid-template-columns: 63vw 32vw;
    width: 95vw;
    margin: 2.3rem auto ;
    justify-items: center;
    
}

.infoContainer{
    display: flex;
    align-items: left;
    flex-direction: column;
    justify-items: right;
    min-width: 32vw;
    
    span{
        color: var(--product-share-text-color);
        font-size: 0.8rem;
    }
    button{
        border: solid 1px var(--product-size-content-border-color);
        cursor: pointer;
    }
}