.socialContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: left;
    
    span{
        margin-right: 7px;
        color: var(--product-share-text-color);
        font-size: 0.8rem;
    }

    svg{
        cursor: pointer;
        width: 2rem;
        color: var(--cart-button-svg-color-hover);
    }
} 