:root {
    --background: #efefef;
    --light-background: #ffffff;

    --text-font-family: 'Montserrat', sans-serif;
    --side-text-family: 'Shadows Into Light', cursive;
    --text-color: #1c1b1b;

    --link-color: #6a6a6a;

    --gray-1000: #121212;
    --gray-900: #1c1b1b;
    --gray-800:#121212;
    --gray-400: #6a6a6a;
    --gray-400-5d: #6a6a6a5d;
    --gray-50: #cfcfcf;

    --white: #ffffff;

}

*{
    font-family: 'Montserrat', sans serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    @media (min-width: 1024px) {
        font-size: 93,75%;
    }

    @media (min-width: 768px) and (max-width: 1023px) {
        font-size: 87,5%;
    }

    @media (min-width: 375px) and (max-width: 767px) {
        font-size: 81,25%;
    }

    @media (max-width: 374px) {
        font-size: 68,75%;
    }
} 

body{
    background: var(--background);

    h1 {
        font-size: 1rem;
        font-weight: 600;
    }
    p{
        font-size: 0.8rem;
    }
    h2 {
        font-weight: 500;
        font-size: 0.9rem;
    }
    a {
        text-decoration: none;
        font-size: 0.8rem;
        color: var(--gray-900);
        font-weight: 500;
        cursor: pointer;
    }
}