.container{
    display:flex;
    align-items: center;
    justify-content: center;
}

.content {
    padding: 14px 40px;
    background-color: var(--button-background); 
    border: 1px solid var(--button-background);
    cursor: pointer;
    
    a{
        font-weight: 500;
        color: var(--button-text-color);
    }
    
    transition: all 0.5s ease;
    
    &:hover{
        background-color: var(--button-text-color); 
        a{
            color: var(--button-background); 
        }
    }
}