.contactContent{
    h2{
        font-size: 1rem;
    }
    span{
        font-size: 0.8rem;
    }
    .infoContactContent{
        display: flex;
        align-items: center;
        flex-direction: row;
        margin: 0.3rem 0 1rem 0;
    }

    svg{
        width: 25px;
        height: 25px;
        margin-right: 7px;
        &:hover{
            color: var(--gray-400);
        }
    }
}

    