.secondaryHeader{
    background: var(--gray-800);
    height: 30px;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    p{
        font-size: 0.7rem;
    }
}