.container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 95vw;
    margin: 3rem auto;

    .infoContent{
        margin-bottom: 3rem;
        h1{
            font-size: 1.5rem;
        }

        h2{
            margin: 0.5rem 0 1.3rem 0;
        }

        span{
            font-size: 0.8rem;
        }

        .gitHubContent{
            display: flex;
            align-items: center;
            margin-bottom: 1rem;
            svg{
                width: 25px;
                height: 25px;
                margin-left: 7px;
                &:hover{
                    color: #6a6a6a;
                }
            }
        }

        .spanContent{
            display: flex;
            flex-direction: column;
            justify-self: left;
            *{
                margin-bottom: 1rem;
            }
            
        }
    }

    .contactContent{
        h2{
            font-size: 1rem;
        }
        span{
            font-size: 0.8rem;
        }
        .infoContactContent{
            display: flex;
            align-items: center;
            flex-direction: row;
            margin: 0.3rem 0 1rem 0;
        }

        svg{
            width: 25px;
            height: 25px;
            margin-right: 7px;
            &:hover{
                color: #6a6a6a;
            }
        }
    }

    @media (min-width: 850px) {
        grid-template-columns: repeat(2, 1fr);
    }
}