.infoProductContent{
    padding-bottom: 2rem;
    border-bottom: solid 1px var(--product-page-border-info);
    
    h2{
        font-size: 0.7rem;
        letter-spacing: 4px;
        font-weight: 400;
    }
    h1{
        margin: 2.5rem 0 1rem 0;
        letter-spacing: 4px;
        text-align: left;
        font-weight: 500;
    }
    span{
        font-size: 1rem;
        font-weight: 500;
        letter-spacing: 2px;
    }
}