.buttonCart{
    min-height: 3rem;
    width: 100%;
    background-color: var(--gray-900); 
    color: var(--white);
    border: 1px solid var(--gray-900);
    border-radius: 0px;
    cursor: pointer;

    transition: all 0.5s ease;
    
    &:hover{
        background-color: var(--background); 
        color: var(--gray-900); 
    }
}