.modal{
    background: var(--background);
    height: 100vh;
    
    padding: 3rem 1rem 0 2rem;

    width: 100%;
    max-width: 370px;

    @media (max-width: 320px) {
        width: 280px
    }

    svg{
        cursor: pointer;
    }
    
    .containerModal{
        
        .titleContainer{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-bottom: 1rem;
            border-bottom: solid 1px var(--gray-400);
            color: var(--gray-900);
            svg{
                width: 20px;
                height: 20px;
            }
            h1{
                letter-spacing: 4px;
            }
        }

        .productsContainer{
            margin: 2rem 0;
            
            .productContent{
                display: flex;
                flex-direction: row;
                align-items: center;
                margin: 1rem 0;
                padding: 0.3rem 0.15rem;
                .imageContainer{
                    display: flex;
                    align-items: center;
                    
                    img{
                        width: 6.5rem;
                        height: 9rem;
                        margin-right: 0.9rem;
                    }
                }
                .priceContainer{
                    display: flex;
                    margin: 0 7px 0 auto;
                    h2{
                        margin-right: 6px;
                    }
                }
                .infoContainer{
                    span{
                        font-size: 0.7rem;
                        letter-spacing: 2px;
                        margin-bottom: 1rem;
                    }
                    h2{
                        font-size: 0.8rem;
                        letter-spacing: 4px;
                        margin-bottom: 1.7rem;
                    }
                }
                
            }
            span{
                display: block;
            }
        }
    }
}

.overlay{
    background: rgba(0, 0, 0, 0.4 );

    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: right;
}