.container{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 95vw;
    svg{
        width: 2rem;
        height: 2rem;
        cursor: pointer;
    }

    div{
        display: inline-block;
        margin: 0 7px;
        button{
            width: 1.6rem;
            height: 1.6rem;
            font-size: 1rem;
            cursor: pointer;
            border-radius: 5px;
            border: 0;
            background: var(--gray-900);
            color: var(--gray-50);
        
            & + button{
                background: var(--white);
                color: var(--gray-900);
                margin-left: 1rem;
                transition:all ease-in 0.2s;

                &:hover{
                    border: solid 1px var(--gray-1000);
                }
            }
            
        }
    }
}