.modal{
    background: var( --background);
    height: 15vh;
    width: 95vw;
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    
    .container{
        display: flex;
        
        height: 3rem;

        .searchBox{
            background: blueviolet;
            display: flex;
            align-items: center;
            justify-content: left;
            width: 600px;
            input{
                border: none;
                background: blueviolet;
                width: 100%;
            }
        }
    }
}

.overlay{
    background: rgba(0, 0, 0, 0.4 );

    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}