.modal{
    background: var( --modal-background);
    height: 20vh;
    width: 95vw;
    margin: 0 auto;
    position: relative;
}

.overlay{
    background: rgba(0, 0, 0, 0.4 );

    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}